/*lib override start*/
.animated {
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.container-fluid{
	padding:0;
}
.row{
	margin: 0;
}
.modal-open .animated {
    -webkit-animation-fill-mode: none;
    animation-fill-mode: none;
}
/*lib override end*/
/*tools start*/
.overflow-x-h{
	    overflow-x: hidden;
}
/*tools end*/
/*header start*/
header{
	background: #337ab7;
    color: #fff;
    padding: 10px 0;
    position: relative;
}
header h3{
	text-align: center;

}
header a{
	color:#ffffff;
	top: 0;
    position: absolute;
}
header a .fa{
	padding: 12px 15px;
}
header .leftBtn{
}
header .rightBtn{
    right: 0;
}
.fixHeader{
	height:40px;
}
.fixHeader header{
	height:40px;
	position: fixed;
	width: 100%;
    z-index: 22;
}
/*header end*/
/*slideBar start*/
.slideBar{
	width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 101;
    background-color: #337AB7;
    display: none;
}
.slideBar ul li:first-child{
	padding: 20px;
	color: #FFF;
}
.slideBar ul li{
    border-bottom: 1px solid #BEBEC1;
}
.slideBar ul li a {
	color: #fff;
	display: block;
	padding: 15px;
}
.slideBar ul li a .fa{
	margin-left: 5px;
	margin-right: 10px;
}

/*slideBar end*/

/*overlay start */
.overlay{
	position: absolute;
    z-index: 100;
    background-color: #212121;
    width: 100%;
    height: 100%;
    top: 0;	
    left: 0;
    opacity: 0.8;
    display: none;
}
.spinner{
	position: absolute;
    font-size: 30px;
    top: 48%;
    left: 48%;
    z-index: 101;
    color: #79C1FF;
    display: none;
}
/*overlay end */

/*billList start*/

.secondHeaderFix{
	height: 35px;
}
.secondHeader{
	background-color: #fff;
	position: fixed;
	width: 100%;
	height: 35px;
    z-index: 22;
}
.secondHeader div{
	text-align: center;
    border-bottom: 2px solid #337AB7;
    padding: 10px;
    color: #1F5788;
    cursor: pointer;
    font-size: 13px;
}
.secondHeader div:first-child{
	border-right: 2px solid #337AB7;
}

.billListDiv{
    position: absolute;
    z-index: 1;
    top: 75px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #FFF;
    overflow: hidden;
}
.billList{
}
.billList li{
	padding: 10px 0;
    border-bottom: 2px solid #337AB7;
    cursor: pointer;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    position: relative;
    background-color: #fff;
}
.billList li.showDelBtn{
	 transform: translateX(-50px);
     -webkit-transform:translateX(-50px); 
}
.billList li >.fa {
	    float: left;
    font-size: 40px;
    margin: 0 20px;
    color: #93c47d;
}
.billList li >.fa-minus-square{
    color: #CC6868;
}

.billList li .billName{
	    margin-top: -2px;
}
.billList li .billTypeAndTime{
	    margin-top: 10px;
}
.billList li .billTypeAndTime .fr{
	margin-right: 10px;
}
.billList li .delBill{
	position: absolute;
    font-size: 33px;
    right: -52px;
    top: 0px;
    padding: 15px 13px 12px 13px;
    border-bottom: 2px solid #337AB7;
    background-color: #B94A4A;
    color: #FFF;
    display: none;
}
.billList li.showDelBtn .delBill{
    display: block;
}
.billList li:after {
    display: table;
    content: " ";
    clear: both;
}
.billList li:nth-of-type(odd) {
    background-color: #f9f9f9;
}

.loading{
    position: absolute;
    bottom: -20px;
    text-align: center;
    font-size: 20px;
    height: 20px;
    color: #1F5788;
    width: 97%;
    font-weight: 600;
    z-index: 150;
}
.redMsg{
       position: fixed;
    top: 50%;
    left: 50%;
    width: 150px;
    margin-left: -75px;
    margin-top: -10px;
    padding: 10px;
    background-color: #CC5D73;
    border: 2px solid #8B9DA9;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 8px 4px 10px #8B9DA9;
    font-weight: bold;
    text-align: center;
    display: none;
    z-index: 150;
}
.greenMsg{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 110px;
    margin-left:-55px;
    margin-top: -10px;
    padding: 10px;
    background-color: #93c47d;
    border: 2px solid #8B9DA9;
    color: #fff;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 8px 4px 10px #8B9DA9;
    font-weight: bold;
    text-align: center;
    display: none;
     z-index:150;
}
/*billList end*/
/*billTypeList start*/
 .typeTag{

 }
 .typeTag li{
        float: left;
    padding: 10px;
    background-color: #2A7EC5   ;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
 }
/*billTypeList end*/
/*chartsList start*/
.chart{
    margin-bottom: 15px;
}

/*chartsList start*/

/*customDialog start*/
.customDialog{
        width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 101;
    background-color: #fff;
    display: none;
    padding: 10px;
}
/*customDialog end*/
